
/* ******* TAGS ******* */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #333333;
}

li {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* ******* STYLES ******* */

#map {
    height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.tt {
    width: 20px;
    height: 20px;
    background-image: url(icons/signpost.png);
    display: inline-block;
    background-position: 0 61px;
    float: right;
}

.types .details {
	color: #777;
	text-decoration: none;
	float: right;
	margin-top: 3px;
}

.types .details:hover {
	color: #222;
}

.types .back {
	float: left;
	margin: 0 5px 0 0;
}

/* ******* POPUP ******* */

#info-window {
    min-width: 320px;
    max-width: 480px;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

/* *** WRAPPER *** */

.youtubewrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtubewrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#info-body img {
	width: 100%;
}

/* ******* ADAPTIVE ******* */

@media only screen and (max-device-width: 480px) {
    #info-window {
        min-width: 0;
    }
}
